# Homework 4: Statistical Inference

## Aliza Rafique (ar05986)

## ar05986@st.habib.edu.pk

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
data = pd.read_csv("EmployeeAttrition.csv")

In [4]:
data.keys()

Index(['Age', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition'],
      dtype='object')

### 1: Monthly income of Males is greater than Females
#### Null Hypothesis: Monthly income of Males is greater than Females. 
#### Alternative Hypothesis: Monthly income of Males is less than equal to that of Females.

In [5]:
male = data[data['Gender']=='Male']['MonthlyIncome']
female = data[data['Gender']=='Female']['MonthlyIncome']

stats.ttest_ind(male, female)

Ttest_indResult(statistic=-1.2212617308870655, pvalue=0.22218303455087904)

#### Accept the Null Hypothesis. Since pvalue > 0.05. Which means that the monthly income of males is greater than females. For this particular company, there is an unequal salary distribution, this might be due to internal biases of the company or this can also mean that male employees have worked overtime at their company resulting in higher salary.

### 2: Work Life Balance of Males is less than Females
#### Null Hypothesis: Work life balance of males is less than females.
#### Alternative Hypothesis: Work life balance of males is greater than equal to that of females.

In [6]:
male = data[data['Gender']=='Male']['WorkLifeBalance']
female = data[data['Gender']=='Female']['WorkLifeBalance']

stats.ttest_ind(male, female)

Ttest_indResult(statistic=-0.10546787956064164, pvalue=0.9160189649366257)

#### Accept the Null Hypothesis. As the p-value is greater than 0.05. This means that males do have less work-life balance than females. The reason for this result might be that males are easily able to stay for work or do overtime at their company (depending on the cities where the company is located). This might be difficult for females due to safety reasons or their other responsibilities.

### 3: Year At Company of Single is less than Married
#### Null Hypothesis: Years at company of singles is less than married.
#### Alternative Hypothesis: Years at company of singles is greater than equal to that of married.

In [7]:
single = data[data['MaritalStatus']=='Single']['YearsAtCompany']
married = data[data['MaritalStatus']=='Married']['YearsAtCompany']

stats.ttest_ind(single, married)

Ttest_indResult(statistic=-2.5589985737464476, pvalue=0.010625532709863163)

#### Accept the alternative hypothesis. The p-value < 0.05. This means that single people have stayed more or equal years as compared to married people in the company. One of the reasons for this result might be that after marriage some people prefer to move to a different city or country, thus leaving the company. Or they might consider working at the organization with flexible work hours or other benefits.

### 4: Environmental Satisfaction of Attrition=Yes is less than Attrition=No
#### Null Hypothesis: Environmental satisfaction when attrition is yes is less than when the attrition is no.
#### Alternative Hypothesis: Environmental satisfaction when attrition is yes is greater or equal to that of when the attrition is no.

In [8]:
yes = data[data['Attrition']=='Yes']['EnvironmentSatisfaction']
no = data[data['Attrition']=='No']['EnvironmentSatisfaction']

stats.ttest_ind(yes, no)

Ttest_indResult(statistic=-3.9818600026818496, pvalue=7.17233854936886e-05)

#### Accept the alternative hypothesis. The p-value < 0.05. It means that when the attrition value is "yes", the environmental satisfaction is higher or equal to the enviornmental satisfaction value when attrition value is "no". A possible deduction from this can be that when an employee is leaving the company it is not due to a low environmental satisfaction (as it is greater with a "yes" attrition). There might be some other factors then at play for the employees with a "yes" attrition (making them resign or leave).

### 5: Monthly Income and Laboratory Technician
#### Null Hypothesis: Monthly income of Manager is greater than that of Laboratory Technician.
#### Alternative Hypothesis: Monthly income of Manager is less that or equal to that of Laboratory Technician.

In [9]:
manager = data[data['JobRole']=='Manager']['MonthlyIncome']
tech = data[data['JobRole']=='Laboratory Technician']['MonthlyIncome']

stats.ttest_ind(manager, tech)

Ttest_indResult(statistic=76.03317414634023, pvalue=1.9942336668736867e-223)

#### Accept the alternative hypothesis. The p-value < 0.05 which means that the monthly income of a Laboratory Technician is greater than or equal to the monthly income of the Manager. The reasons of the difference in the salary package depends on the agenda of the company. If it is a research based company then the funds are invested more in the researchers and the people working in the experimentation side that may be the case for this data.

### 6: Associatiation between Department and Gender
#### Null Hypothesis: There is no association between Department and Gender (they are independent variables). 
#### Alternative Hypothesis: There is an association between Department and Gender (they are dependent variables).

In [10]:
chisqt = pd.crosstab(data['Department'],data['Gender'], margins=True)

chisqt

Gender                  Female  Male   All
Department
Human Resources             20    43    63
Research & Development     379   582   961
Sales                      189   257   446
All                        588   882  1470

In [11]:
value = np.array([chisqt.iloc[0][0:].values, chisqt.iloc[1][0:].values])

stats.chi2_contingency(value)

(1.4709421142834458,
 0.47927963769548776,
 2,
 array([[ 24.54785156,  38.45214844,  63.        ],
        [374.45214844, 586.54785156, 961.        ]]))

In [12]:
chi2, p, dof, ex = stats.chi2_contingency(value)

chi2

1.4709421142834458

In [13]:
p

0.47927963769548776

#### Accept null hypothesis. The p-value > 0.05 which means that there is an association between Department and Gender. We can deduce that there is no specific department that is saturated with only one kind of Gender and that in this company females or males are hired fairly in all of the departments.

# End of Assignment